@page "/learnblazor/bindprop"

<h3>BindProp</h3>
Name: @Product.Name <br />
Active: @Product.IsActive <br />

@code {
    Demo_Product Product = new()
        {
            Id = 1,
            Name = "Rose Candle",
            IsActive = true
        };
}
