@page "/learnblazor/parentcomponent"

<h3>Parent Child Relation</h3>

<CascadingValue Value="@MessageForGrandChild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="luckyNumber">

        <_ChildComponent OnButtonClick="ShowMessage"
                         Title="This title is passed as parameter from Parent Component">
        </_ChildComponent>

    </CascadingValue>
</CascadingValue>

<p><b>messageText : @messageText</b></p>

<_AnotherChildComponent InputAttributes="InputAttributesFromParent">
</_AnotherChildComponent>

@code {
    public string messageText = "";

    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        { "required" , "required"},
        { "placeholder", "Enter Name From Parent"},
        { "maxlength", 5}
      };

    public string MessageForGrandChild = "Cascading : This message is from your grand parent (ParentComponent)";

    public string LuckyNumber = "7";

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }

}