@page "/learnblazor/parentcomponent"

<h3>Parent Child Relation</h3>


<_ChildComponent Title="This title is passed as parameter from Parent Component" OnButtonClick="ShowMessage">
    <ChildContent> Render Fragment From Parent! WooHOO! </ChildContent>
    <DangerChildContent>Danger Fragment From Parent! WooHOO!</DangerChildContent>
</_ChildComponent>

<p><b>messageText : @messageText</b></p>

@code {
    public string messageText = "";

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }

}