@page "/learnblazor/parentcomponent"

<h3>Parent Child Relation</h3>


<_ChildComponent Title="This title is passed as parameter from Parent Component" OnButtonClick="ShowMessage">
    <ChildContent> Render Fragment From Parent! WooHOO! </ChildContent>
    <DangerChildContent>Danger Fragment From Parent! WooHOO!</DangerChildContent>
</_ChildComponent>

<p><b>messageText : @messageText</b></p>

<_AnotherChildComponent InputAttributes="InputAttributesFromParent">
</_AnotherChildComponent>

@code {
    public string messageText = "";

    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        { "required" , "required"},
        { "placeholder", "Enter Name From Parent"},
        { "maxlength", 5}
      };

    private void ShowMessage()
    {
        messageText = "Tangy button clicked from Child Component";
    }

}